.car-showcase {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.car-images {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-item {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
}

.car-image-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.car-images-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.car-details {
    width: 50%;
    margin-left: 2rem;
}

.car-details-container {
    margin-left: 0rem;
}

.car-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}


.car-row::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 60%;
    height: 1px;
    background-color: #e2e2e3;
}

.car-row-details {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.car-row-details::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 105%;
    height: 1px;
    background-color: #e2e2e3;
}


.car-label {
    width: 150px; /* Increase the width to accommodate the longer label */
    font-weight: bold;
    color: #999898;
    white-space: nowrap; /* Prevent the label from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
}

.car-value {
    flex-grow: 1;
    margin-left: 8rem; /* Add a margin on the left side */
}



.car-title {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 45px;
  left: 0;
  right: 1300px;
  text-align: center;
  padding: 1rem;
  z-index: 1;
}

.car-info {
    margin-bottom: 1rem;
}

.car-extra {
    align-items: center;
}

.car-extra-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.car-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel {
    position: relative;
    width: 860px; /* Set the fixed width */
    height: 540px; /* Set the fixed height */
    margin: auto;
    overflow: hidden;
    background-color: #f8fafc; /* Set the background color to black */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    text-align: center;
    position: relative;
    width: auto; /* Set width to auto */
    height: auto; /* Set height to auto */
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center; /* Center items vertically */
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Adjust this value as needed */

    background-color: #f8fafc; /* or any other color you prefer */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(
        255,
        255,
        255,
        0.5
    ); /* Adjust the background color as needed */
    color: #fff;
    opacity: 0.1;
    transition: opacity 0.3s;
}

.carousel-control-prev {
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.carousel-control-next {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}

.counter {
    color: #fff; /* Set the font color to white */
}

.car-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: #f8fafc; /* Add background color to the image */
}

.car-image.enlarged {
    width: 60%; /* Adjust the width as per your preference */
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.thumbnail-carousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 500px; /* Adjust the height as needed */
  margin-left: 10px;
}

.thumbnail-item {
  margin-bottom: 10px; /* Adjust the spacing between each thumbnail item */
}

.thumbnail-image {
  width: 100px;
  height: 75px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8; /* Initial opacity */
  transition: opacity 0.3s ease;
}

.thumbnail-image:hover,
.thumbnail-item.active .thumbnail-image {
  opacity: 1; /* Hover and active opacity */
}

.car-details-sections {
    display: flex;
    justify-content: center;
}

.car-details-section {
    margin: 0 10px; /* Adjust the margin as needed for spacing between sections */
    text-align: center;
}

.car-attributes {
    /* ... Your existing styles for the car attributes ... */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Adjust styles for screens with a maximum width of 767px (common mobile size) */
@media (max-width: 767px) {
    .car-showcase {
      flex-direction: column;
      align-items: center;
    }
    
    .car-images {
      width: 100%;
      margin-bottom: 1rem;
    }
    
    .car-details {
      width: 100%;
      margin-left: 0;
    }
    
    .thumbnail-carousel {
      margin-left: 0;
      margin-top: 1rem;
    }
    
    .car-label {
      width: 120px;
    }
    
    .car-value {
      margin-left: 5px;
    }
    
    .car-row::after {
      display: none;
    }
    
    .car-row-details::after {
      display: none;
    }
    
    .car-details-container {
      margin-left: 0;
    }
    
    .car-title {
      position: static;
      margin-top: 1rem;
      margin-bottom: 1rem;
      left: auto;
      right: auto;
      text-align: center;
    }
    
    .carousel {
      width: 100%;
      height: auto;
    }
    
    .carousel-item {
      height: auto;
    }
    
    .carousel-control-prev,
    .carousel-control-next {
      top: auto;
      transform: none;
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
    
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 12px;
      height: 12px;
    }
    
    .thumbnail-carousel {
        display: flex;
        flex-direction: row; /* Change the direction to horizontal */
        overflow: auto; /* Allow horizontal scrolling */
        height: auto;
        margin-left: 0;
        margin-top: 1rem;
        white-space: nowrap;
        scrollbar-width: thin; /* Adjust the scrollbar width as needed */
      }
      
      .thumbnail-item {
        margin-bottom: 0;
        margin-right: 10px; /* Add some spacing between thumbnails */
        display: inline-block;
      }

    .car-details-sections {
        display: flex;
        flex-wrap: wrap; /* Allow the sections to wrap on smaller screens */
        justify-content: center;
        gap: 20px; /* Add some spacing between sections */
    }
    
    .car-details-section {
        flex-basis: 100%; /* Make each section take the full width on smaller screens */
        max-width: 400px; /* Set a maximum width to control the size of the sections */
        margin-bottom: 20px; /* Add some spacing between sections */
        text-align: center;
    }
    
  }
  